# Laboratorio 1 - Algoritmos
Juan Esteban Oviedo Garcia

## 01 Data Types and Data Structures

### Basic Variable Types

Se tienen 4 tipos de variables basicos (Strings, int, floating point y bools). Las cadenas se representan sea con comillas sencillas o comillas dobles

In [ ]:
# Definimos 2 cadenas de texto
cadena1 = "Bienvenido al curso "
cadena2 = "De algoritmos 2022-1"
# Concatenamos las cadenas entre si
print(cadena1 + cadena2)

Bienvenido al curso De algoritmos 2022-1

Los integers son numeros redondeados sin valores luego del punto decimal

In [ ]:
# Definimos 2 numeros enteros 
entero1 = 2
entero2 = 4
# Suma de ambos numeros
print(entero1 + entero2)
# Verificamos el tipo de dato
print(type(entero1))

6
<class 'int'>

Los floating point numbers son numeros que tienen valores luego del punto decimal.

In [ ]:
floating1 = 199.2
floating2 = 49.5
# Sumamos los dos numeros y obtendremos un flotante
print(floating1 + floating2)
# Verificamos el tipo de dato
print(type(floating1))

248.7
<class 'float'>

Un booleano es una variable binaria, es decir solo puede tomar valores de verdadero o falso.

In [ ]:
is_2022 = True
print(is_2022)
print(type(is_2022))

True
<class 'bool'>

### Operaciones matematicas basicas

In [ ]:
# Suma
print(2 + 2)
# Resta
print(5 - 3)
# Division
print(8/4)
# Multiplicacion
print(6*7)

4
2
2.0
42

### Colecciones de datos basicas

#### Listas

Es una coleccion ordenada de valores. Es mutable, es decir se puede cambiar el valor sin cambiar la lista en si. 

Los elementos de la lista se pueden acceder a través de indices que comienzan en 0. Mientras que el del ultimo elemento será n-1, donde n es la longitud de la lista.

In [ ]:
# Definir una lista de valores
mi_lista = ['Algoritmos', 2022, 'CyT']
# Podemos obtener la longitud de la lista y acceder a elementos de ella
print(len(mi_lista))
# El primer elemento de la lista
mi_lista[0]

3

'Algoritmos'

Es posible cambiar elementos, accediendo a su indice.

In [ ]:
# Cambiaremos CyT por 401
mi_lista[2] = "401"
print(mi_lista[2])

401

O inclusive cortar la lista utilizando :

In [ ]:
# Mostrando todos los elementos, menos el ultimo 
mi_lista[:2]

['Algoritmos', 2022]

Para añadir o eliminar un elemento se pueden emplear los metodos append y remove.

In [ ]:
# Añadiendo el elemento Aulas de ingenieria
mi_lista.append("Aulas de Ingenieria")
# Eliminando el elemento 401
mi_lista.remove("401")
# Veamos la lista 
print(mi_lista)

['Algoritmos', 2022, 'Aulas de Ingenieria']

#### Tuplas

Se trata de una estructura muy similar a la lista. Sin embargo, no es mutable una vez es definida.

In [ ]:
mitupla = ("Algoritmos", 2022, 401)
# Tambien podemos cortarla 
print(mitupla[1:])

(2022, 401)

#### Sets

Un set es una coleccion no ordenada con elementos que no estan duplicados. Para crearlos se emplea la funcion *set()*

In [ ]:
fruits = ["Apple", "Banano", "Apple", "Durazno"]
# Creamos un set de la lista
fruit_set = set(fruits)
print(fruit_set)

{'Durazno', 'Apple', 'Banano'}

#### Diccionarios

Un diccionario está indexado a partir de llaves, que tienen asociadas un valor. Para acceder a cada valor se utiliza la llave correspondiente.

In [ ]:
# Definimos un diccionario de clases
clases = {'ALGO':'Algoritmos', 'SI': 'Sistemas de información', 'SOP':'Sistemas Operativos'}
print(clases)
# Accedemos al valor de ALGO
print(clases['ALGO'])
# Cambiando el valor de la llave SOP
clases['SOP'] = 'Sistemas Operativos y Computo Paralelo'
print(clases['SOP'])

{'ALGO': 'Algoritmos', 'SI': 'Sistemas de información', 'SOP': 'Sistemas Operativos'}
Algoritmos
Sistemas Operativos y Computo Paralelo

### Operaciones Comunes en Cadenas

Las cadenas pueden ser cortadas como las tuplas usando el indice de sus caracteres.

In [ ]:
cadena1 = "Estoy aprendiendo algoritmos"
# Cortando
print(cadena1[18:])

algoritmos

Algunos metodos utiles de las cadenas a abarcan el contar el numero de veces que se repite un caracter, el indice de un caracter o intercambiar 2 caracteres.

In [ ]:
print(cadena1.count('e'))
print(cadena1.find('e'))
print(cadena1.replace('a','e'))

2
9
Estoy eprendiendo elgoritmos

Es posible separar una cadena por un caracter dado a partir de la funcion *.split()* la cual retorna una lista

In [ ]:
# Separando la cadena 1 por los espacios
print(cadena1.split())
# Separando la cadena por la letra e
print(cadena1.split('e'))

['Estoy', 'aprendiendo', 'algoritmos']
['Estoy apr', 'ndi', 'ndo algoritmos']

Tambien es posible reemplaczar secciones de nuestra cadena por una variable ya conocida a traves del formateo de cadenas.

In [ ]:
# Usando corchetes
print(f"Hoy les quiero contar que {cadena1}")
# O usando el simbolo %
print('El numeo de Fibonacci es %f'%1.68)

Hoy les quiero contar que Estoy aprendiendo algoritmos
El numeo de Fibonacci es 1.680000

## 02 Operaciones Logicas y ciclos

### Operadores Logicos

Los operadores logicos evaluan expresiones que pueden ser verdaderas o falsas. Asi como combinaciones de estas.

In [ ]:
print(3 > 4)
print(5 == 5)
print(5 <= 10)

False
True
True

In [ ]:
# Podemos evaluar mas de una condicion a traves de and, not y or
print(3 > 4 and 0 == 0)
print(3 == 3 and 0 == 0)
print(2 < 1 or 2 > 4)

False
True
False

### If Statement

El condicional if ejecuta un bloque de codigo solo si la condicion dada es verdadera.

In [ ]:
if 3 > 2:
  print("3 es mayor que 2")
elif 2 < 1:
  print("2 es menor que 1")
else:
  print("Las condiciones no se cumplieron")

3 es mayor que 2

Tambien se pueden crear bloques complejos

In [ ]:
p = 1 > 10
q = 2 > 0.05
if p and q:
    print('p and q son verdaderas')
elif p and not q:
    print('q es falsa')
elif q and not p:
    print('p es falsa')
else:
    print('Ninguna es verdadera')

p es falsa

### Ciclos 

Estos permiten repetir un bloque de codigo de manera indefinida.

#### Ciclo While

In [ ]:
i = 0
# Repetimos el codigo hasta que i sea mayor o igual que 10
while i < 10:
  print(f"I tiene un valor de {i}")
  i+=1

I tiene un valor de 0
I tiene un valor de 1
I tiene un valor de 2
I tiene un valor de 3
I tiene un valor de 4
I tiene un valor de 5
I tiene un valor de 6
I tiene un valor de 7
I tiene un valor de 8
I tiene un valor de 9

#### Ciclo For
Un ciclo for itera sobre una secuencia y se detiene cuando se llega al final.

In [ ]:
# Utilizando el set previamente creado se puede iterar sobre el
for fruta in fruit_set:
  print(f"Tenemos para comer {fruta}")

Tenemos para comer Durazno
Tenemos para comer Apple
Tenemos para comer Banano

#### Break y Continue

En un ciclo se pueden emplear los comandos break y continue. Break termina el ciclo de forma inmediata, mientras que continue pasa al siguiente elemento sobre el que se debe interar.

In [ ]:
# Ejemplo de break
for fruit in fruits:
  if fruit == 'Apple':
    print("Tenemos manzanas")
    break
print("\n\n")
# Ejemplo de continue
for i in fruits:
  if i == 'Banano':
    continue
  print(i)

Tenemos manzanas



Apple
Apple
Durazno

#### Comprension de listas 

Es una forma pitonica decrear listas. A continuaci[on se explica como funciona.

In [ ]:
# Calcular los cubos de los numeros de 1 a 9
cubos = [x**3 for x in range(1, 10)]
print(cubos)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

Es posible a;adir expresiones como if para controlar que se añade a la lista

In [ ]:
# Calcular los cubos de los numeros impares de 1 a 9
# Calcular los cubos de los numeros de 1 a 9
cubos = [x**3 for x in range(1, 10) if x%2!=0]
print(cubos)

[1, 27, 125, 343, 729]

## 03 Funciones y programación orientada por objetos

### Funciones

Una función es un bloque reutilizable de codigo, podemos emplearla para retornar n valor o hacer lo que deseemos. Podemos definir una función a través de la palabra clave *def*

In [ ]:
# Definimos una función que nos permita calcular el cuadrado de un numero dado
def square(x):
  return x**2
# Llamamos la funcion varias veces en lugar de repetir el codigo varias veces.
print(square(8))
print(square(4))

64

### Built-in Function

Son funciones que están incluidas dentro del lenguaje. Por ejemplo: 

- La funcion range crea una lista con una secuencia aritmetica en el rango dado y con la diferencia entre valores dada
- La funcion len() calcula la longitud de un objeto.
- La función map() permite aplicar una función especifica a un objeto y retorna una lista con los resultados.

In [ ]:
# Range
# Crear una lista de los pares hasta 100
print("Funcion RANGE")
print(list(range(0, 101, 2)))

# Len
# Contar el numero de pares hasta 100
print("Funcion LEN")
print(len(range(0, 101, 2)))

# Map
# Convertir los numeros pares hasta 100 en strings
print("Funcion MAP")
print(list(map(str, range(0, 101, 2))))

Funcion RANGE
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Funcion LEN
51
Funcion MAP
['0', '2', '4', '6', '8', '10', '12', '14', '16', '18', '20', '22', '24', '26', '28', '30', '32', '34', '36', '38', '40', '42', '44', '46', '48', '50', '52', '54', '56', '58', '60', '62', '64', '66', '68', '70', '72', '74', '76', '78', '80', '82', '84', '86', '88', '90', '92', '94', '96', '98', '100']

El operador lambda permite crear funciones anonimas que solo se requieren en donde han sido creadas.

In [ ]:
# Calcular el cubo de los numeros de 0 a 9
list(map(lambda x: x**3, range(10)))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

Es posible ordenar una lista usando la funcion sorted. Sea para ordenarla de forma ascendente o para ordenarla de forma descendente.

In [ ]:
numeros = [1,2,7767,23324,2547, 0]
# Ordenar una lista creando otra nueva lista
listaAscendente = sorted(numeros)
print(listaAscendente)

[0, 1, 2, 2547, 7767, 23324]

In [ ]:
# Ordenar una lista en el mismo objeto
numeros.sort()
print(numeros)

[0, 1, 2, 2547, 7767, 23324]

In [ ]:
# Ordenar una lista en orden descendente
listaDescendente = sorted(numeros, reverse=True)
print(listaDescendente)

[23324, 7767, 2547, 2, 1, 0]

### Programacion Orientada a Objetos

Python es un lenguaje de programación orientado a objetos. Es importante comprender el concepto de "objetos" porque casi todos los tipos de datos de la API de QuantConnect son objetos.

## Clase
Una clase es un tipo de datos, como una cadena, un flotante o una lista. Cuando creamos un objeto de ese tipo de datos, lo llamamos instancia de una clase.

En Python, todo es un objeto, todo es una instancia de alguna clase. Los datos almacenados dentro de un objeto se denominan atributos, y las funciones asociadas con el objeto se denominan métodos.

In [ ]:
# Definimeros la clase persona
class Person:
  def __init__(self, nombre, carrera, edad):
    self.nombre = nombre
    self.carrera = carrera
    self.edad = edad

  def printReturn(self):
    print(f"Hola, me llamo {self.nombre}")

# Inicializando instancias de la clase persona 

carlos = Person("Carlos", "Ing.Industrial", 23)
felipe = Person("Felipe", "Ing.Agricola", 18)

# Ahora podemos concer atributos de las clases sea a través de los atributos o usando funciones
print(carlos.carrera)
felipe.printReturn()

# Podemos añadir un atributo a un objeto en cualquier lugar
carlos.sueño = "Conocer la luna"
print(carlos.sueño)

Ing.Industrial
Hola, me llamo Felipe
Conocer la luna

### Herencia

La herencia es una forma de organizar las clases en una jerarquía desde la más general hasta la más específica. Una clase "secundaria" es un tipo más específico de clase "principal" porque una clase secundaria heredará todos los atributos y métodos de su matriz.

In [ ]:
# Crearemos una clase estudiante que hereda de persona
class Student(Person):
  def __init__(self, name):
    self.name = name
  
juan = Student("Juan")

## 04 Numpy y Pandas Basico

### Numpy 

NumPy es la biblioteca central para computación científica en Python. Proporciona un objeto de matriz multidimensional de alto rendimiento y herramientas para trabajar con estas matrices. También tiene una fuerte integración con Pandas, que es otra poderosa herramienta para manipular datos financieros.

Los paquetes de Python como NumPy y Pandas contienen clases y métodos que podemos usar importando el paquete:

In [ ]:
import numpy as np

### Arrelos basicos en Numpy

Un arreglo de numpy es una cuadricula de valores todos del mismo tipo, indexada por una tupla de enteros.

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

El arreglo de arriba es un arreglo multidimensional, mientras que el arreglo a continuación es de 2 dimensiones

In [ ]:
Ar = np.array([[5,2],[1,9]])
print(Ar, type(Ar))

[[5 2]
 [1 9]] <class 'numpy.ndarray'>

Podemos conocer las dimensiones del arreglo e incluso acceder a las filas del arreglo a través de un indice.

In [ ]:
print(Ar.shape)

(2, 2)

In [ ]:
print(Ar[0])

[5 2]

Es posible tambien acceder por columnas como se hace a continuacion

In [ ]:
print('the first column: ', Ar[:,0])
# Debe imprimir 5,1

the first column:  [5 1]

### Funciones de arreglos

In [ ]:
# Calcular el logaritmo natural de cada uno de los elementos
print("Calculo ln de cada elemento: ")
print(np.log(price_array))

# Funciones promedio, desv. estandar, suma y maximo de un arreglo
print("Otras funciones")
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

Calculo ln de cada elemento:
[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]
Otras funciones
143.89666666666668
0.9673790478515796
863.38
145.83

### Pandas

In [ ]:
import pandas as pd

### Series

Las series son arreglos con labels unidimensionales que continenen cualquier tipo de dato. Se crea una serie a partir de la funcion _pd.Series(datos)_ con un diccionario, un arreglo o sencillamente un escalar.

In [ ]:
price = [x for x in range(140, 170, 4)]
s = pd.Series(price)
s

0    140
1    144
2    148
3    152
4    156
5    160
6    164
7    168
dtype: int64

In [ ]:
# Podemos modificar los indices de una serie de la siguiente manera 
s = pd.Series(price,index = ['a','b','c','d','e','f', 'g', 'h'])
s

a    140
b    144
c    148
d    152
e    156
f    160
g    164
h    168
dtype: int64

In [ ]:
# Podemos cortar la serie usando indices, por ejemplo 
# De una forma similar a las listas
print(s[1:])
print(s[:-2])

b    144
c    148
d    152
e      0
f    160
g    164
h    168
dtype: int64
a    140
b    144
c    148
d    152
e      0
f    160
dtype: int64

In [ ]:
# Podemos acceder a un elementos de la seria como a un valor de una llave en un
# diccionario
print(s[4])
s[4] = 0
print(s)

156
a    140
b    144
c    148
d    152
e      0
f    160
g    164
h    168
dtype: int64

In [ ]:
# Tambien es posible asingarle un nombre a las series
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    140
1    144
2    148
3    152
4    156
5    160
6    164
7    168
Name: Apple Price List, dtype: int64
Apple Price List

In [ ]:
# Se pueden obtener datos estadisticos de una serie a traves del uso de la funcion describe
print(s.describe())

count      8.000000
mean     154.000000
std        9.797959
min      140.000000
25%      147.000000
50%      154.000000
75%      161.000000
max      168.000000
Name: Apple Price List, dtype: float64

### Time Index

Pandas permite crear indices de fechas, por ejemplo, podemos usarla para crear indices para la serie

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    140
2017-01-02    144
2017-01-03    148
2017-01-04    152
2017-01-05    156
2017-01-06    160
2017-01-07    164
2017-01-08    168
Freq: D, Name: Apple Price List, dtype: int64

Para acceder a una serie se puede emplear iloc[] y loc[], accediendo por indice a un elemento o a un indice de la serie respectivamente.

In [ ]:
s.index = [8, 7, 6, 5, 4, 3, 2, 1]
print(s)
print(s[2])

8    140
7    144
6    148
5    152
4    156
3    160
2    164
1    168
Name: Apple Price List, dtype: int64
164

In [ ]:
# Para acceder al segundo elemento de la serie usamos iloc
print(s.iloc[1])

144

Cuando se trabaja con series de tiempo, se usa el tiempo como un indice. Python permite acceder a estos datos con el indice de tiempo

In [ ]:
s.index = time_index
print(s['2017-01-03'])

148

In [ ]:
# Podemos tambien imprimir un rango de fechas
print(s['2017-01-02':'2017-01-05'])

2017-01-02    144
2017-01-03    148
2017-01-04    152
2017-01-05    156
Freq: D, Name: Apple Price List, dtype: int64

Podemos indexar los datos a partir de una condicion como se muestra a continuacion.

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    140
2017-01-02    144
2017-01-03    148
2017-01-04    152
Freq: D, Name: Apple Price List, dtype: int64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04    False
2017-01-05     True
2017-01-06     True
2017-01-07     True
2017-01-08     True
Freq: D, Name: Apple Price List, dtype: bool]

## 5 Pandas Resampling y DataFrames

# Introducción
En el último capítulo vislumbramos a los pandas. En este capítulo, aprenderemos sobre los métodos de remuestreo y el objeto DataFrame, que es una herramienta poderosa para el análisis de datos financieros.

# Recuperacion de datos
Aquí usamos Yahoo Finance para recuperar datos.

In [7]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 30.7 MB/s
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.9 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [8]:
import yfinance as yf 

googl = yf.Ticker("GOOGL")

print(googl.info)

google_table = googl.history(start="2016-01-01",  end="2017-12-31")
google_table

{'zip': '94043', 'sector': 'Communication Services', 'fullTimeEmployees': 156500, 'longBusinessSummary': 'Alphabet Inc. provides online advertising services in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. The company offers performance and brand advertising services. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment provides products and services, such as ads, Android, Chrome, Google Maps, Google Play, Search, and YouTube; subscription-based products; and Fitbit wearable devices, Google Nest home products, Pixel phones, and other devices, as well as in-app purchases and digital content. The Google Cloud segment offers infrastructure, platform, and other services; Google Workspace that include cloud-based collaboration tools for enterprises, such as Gmail, Docs, Drive, Calendar and Meet; and other services for enterprise customers. The Other Bets segment sells health technology and internet services, as well as licensing and research and development services. The company was incorporated in 1998 and is headquartered in Mountain View, California.', 'city': 'Mountain View', 'phone': '650 253 0000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.abc.xyz', 'maxAge': 1, 'address1': '1600 Amphitheatre Parkway', 'industry': 'Internet Content & Information', 'ebitdaMargins': 0.35377, 'profitMargins': 0.29512, 'grossMargins': 0.5694, 'operatingCashflow': 91651997696, 'revenueGrowth': 0.324, 'operatingMargins': 0.30552, 'ebitda': 91144003584, 'targetLowPrice': 2965, 'recommendationKey': 'buy', 'grossProfits': 146698000000, 'freeCashflow': 49490001920, 'targetMedianPrice': 3500, 'currentPrice': 2597.41, 'earningsGrowth': 0.377, 'currentRatio': 2.928, 'returnOnAssets': 0.14493, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 3460.04, 'debtToEquity': 11.329, 'returnOnEquity': 0.32069, 'targetHighPrice': 3900, 'totalCash': 139649007616, 'totalDebt': 28508000256, 'totalRevenue': 257637007360, 'totalCashPerShare': 211.278, 'financialCurrency': 'USD', 'revenuePerShare': 385.886, 'quickRatio': 2.8, 'recommendationMean': 1.7, 'exchange': 'NMS', 'shortName': 'Alphabet Inc.', 'longName': 'Alphabet Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EST', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-18000000', 'quoteType': 'EQUITY', 'symbol': 'GOOGL', 'messageBoardId': 'finmb_29096', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.364, 'beta3Year': None, 'enterpriseToEbitda': 17.988, '52WeekChange': 0.29199517, 'morningStarRiskRating': None, 'forwardEps': 135.8, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 300755008, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 380.044, 'sharesShort': 2092312, 'sharesPercentSharesOut': 0.0032, 'fundFamily': None, 'lastFiscalYearEnd': 1640908800, 'heldPercentInstitutions': 0.80068, 'netIncomeToCommon': 76032999424, 'trailingEps': 112.197, 'lastDividendValue': None, 'SandP52WeekChange': 0.080180764, 'priceToBook': 6.834498, 'heldPercentInsiders': 0.077020004, 'nextFiscalYearEnd': 1703980800, 'yield': None, 'mostRecentQuarter': 1640908800, 'shortRatio': 0.88, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 573571083, 'beta': 1.06496, 'enterpriseValue': 1639501004800, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1396483200, 'lastSplitFactor': '1998:1000', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.356, 'priceToSalesTrailing12Months': 6.669757, 'dateShortInterest': 1646006400, 'pegRatio': 1.62, 'ytdReturn': None, 'forwardPE': 19.12673, 'lastCapGain': None, 'shortPercentOfFloat': 0.0069999998, 'sharesShortPriorMonth': 2218071, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 2648.59, 'regularMarketOpen': 2669.77, 'twoHundredDayAverage': 2731.4822, 'trailingAnnualDividendYield': 0, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 2675.71, 'navPrice': None, 'averageDailyVolume10Day': 1649430, 'regularMarketPreviousClose': 2648.59, 'fiftyDayAverage': 2723.3052, 'trailingAnnualDividendRate': 0, 'open': 2669.77, 'toCurrency': None, 'averageVolume10days': 1649430, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 2592.63, 'currency': 'USD', 'trailingPE': 23.15044, 'regularMarketVolume': 1576322, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 1718376202240, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 1909990, 'dayLow': 2592.63, 'ask': 2602, 'askSize': 2900, 'volume': 1576322, 'fiftyTwoWeekHigh': 3030.93, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 1996.09, 'bid': 2598.02, 'tradeable': False, 'dividendYield': None, 'bidSize': 800, 'dayHigh': 2675.71, 'regularMarketPrice': 2597.41, 'preMarketPrice': 2666.41, 'logo_url': 'https://logo.clearbit.com/abc.xyz', 'trailingPegRatio': 0.944}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,762.200012,762.200012,747.539978,759.440002,3369100,0,0
2016-01-05,764.099976,769.200012,755.650024,761.530029,2260800,0,0
2016-01-06,750.369995,765.729980,748.000000,759.330017,2410300,0,0
2016-01-07,746.489990,755.309998,735.280029,741.000000,3156600,0,0
2016-01-08,747.799988,750.119995,728.919983,730.909973,2375300,0,0
...,...,...,...,...,...,...,...
2017-12-22,1070.000000,1071.719971,1067.640015,1068.859985,889400,0,0
2017-12-26,1068.640015,1068.859985,1058.640015,1065.849976,918800,0,0
2017-12-27,1066.599976,1068.270020,1058.380005,1060.199951,1116200,0,0
2017-12-28,1062.250000,1064.839966,1053.380005,1055.949951,994200,0,0
2017-12-29,1055.489990,1058.050049,1052.699951,1053.400024,1180300,0,0

Crearemos una serie cuyos valores corresponden a los precios de cierre de las acciones de Google.

In [4]:
google = google_table['Close']['2017']
print(google)

Date
2017-01-03     808.010010
2017-01-04     807.770020
2017-01-05     813.020020
2017-01-06     825.210022
2017-01-09     827.179993
                 ...
2017-12-22    1068.859985
2017-12-26    1065.849976
2017-12-27    1060.199951
2017-12-28    1055.949951
2017-12-29    1053.400024
Name: Close, Length: 251, dtype: float64

In [5]:
# Podemos filtrar tambien por mes
print(google['2017-03'])

Date
2017-03-01    856.750000
2017-03-02    849.849976
2017-03-03    849.080017
2017-03-06    847.270020
2017-03-07    851.150024
2017-03-08    853.640015
2017-03-09    857.840027
2017-03-10    861.409973
2017-03-13    864.580017
2017-03-14    865.909973
2017-03-15    868.390015
2017-03-16    870.000000
2017-03-17    872.369995
2017-03-20    867.909973
2017-03-21    850.140015
2017-03-22    849.799988
2017-03-23    839.650024
2017-03-24    835.140015
2017-03-27    838.510010
2017-03-28    840.630005
2017-03-29    849.869995
2017-03-30    849.479980
2017-03-31    847.799988
Name: Close, dtype: float64

In [6]:
# Podemos filtrar tambien por un rango de meses
print(google['2017-03':'2017-4'])

Date
2017-03-01    856.750000
2017-03-02    849.849976
2017-03-03    849.080017
2017-03-06    847.270020
2017-03-07    851.150024
2017-03-08    853.640015
2017-03-09    857.840027
2017-03-10    861.409973
2017-03-13    864.580017
2017-03-14    865.909973
2017-03-15    868.390015
2017-03-16    870.000000
2017-03-17    872.369995
2017-03-20    867.909973
2017-03-21    850.140015
2017-03-22    849.799988
2017-03-23    839.650024
2017-03-24    835.140015
2017-03-27    838.510010
2017-03-28    840.630005
2017-03-29    849.869995
2017-03-30    849.479980
2017-03-31    847.799988
2017-04-03    856.750000
2017-04-04    852.570007
2017-04-05    848.909973
2017-04-06    845.099976
2017-04-07    842.099976
2017-04-10    841.700012
2017-04-11    839.880005
2017-04-12    841.460022
2017-04-13    840.179993
2017-04-17    855.130005
2017-04-18    853.989990
2017-04-19    856.510010
2017-04-20    860.080017
2017-04-21    858.950012
2017-04-24    878.929993
2017-04-25    888.840027
2017-04-26    889.140015
2017-04-27    891.440002
2017-04-28    924.520020
Name: Close, dtype: float64

Los metodos head y tail nos permiten acceder a los primeros elementos y los ultimo elementos

In [7]:
print(google.head(5), google.tail(5), sep='\n')

Date
2017-01-03    808.010010
2017-01-04    807.770020
2017-01-05    813.020020
2017-01-06    825.210022
2017-01-09    827.179993
Name: Close, dtype: float64
Date
2017-12-22    1068.859985
2017-12-26    1065.849976
2017-12-27    1060.199951
2017-12-28    1055.949951
2017-12-29    1053.400024
Name: Close, dtype: float64

### Resampling 

Para este caso se reagrupan los datos en una serie en intervalos de tiempo regulares. El argumento de freq, permite establecer la longitud de los intervalos. 

Para realizar el resampling es posible acceder a funciones como mean() a traves de las cuales se agregan los datos en el marco del intervalo

In [10]:
# Podemos agrupar por mes y por promedio
by_month = google.resample('M').mean()
print(by_month)

# O agrupar por semana
by_week = google.resample('M').mean()
print(by_week)

# Podemos agrupar por la funcion max
google.resample('M').max()

Date
2017-01-31     830.249509
2017-02-28     836.754735
2017-03-31     853.790002
2017-04-30     861.377898
2017-05-31     961.654549
2017-06-30     973.368638
2017-07-31     963.443506
2017-08-31     937.960874
2017-09-30     945.884497
2017-10-31     999.145006
2017-11-30    1046.983346
2017-12-31    1053.917487
Freq: M, Name: Close, dtype: float64
Date
2017-01-31     830.249509
2017-02-28     836.754735
2017-03-31     853.790002
2017-04-30     861.377898
2017-05-31     961.654549
2017-06-30     973.368638
2017-07-31     963.443506
2017-08-31     937.960874
2017-09-30     945.884497
2017-10-31     999.145006
2017-11-30    1046.983346
2017-12-31    1053.917487
Freq: M, Name: Close, dtype: float64

Date
2017-01-31     858.450012
2017-02-28     851.359985
2017-03-31     872.369995
2017-04-30     924.520020
2017-05-31     996.169983
2017-06-30    1004.280029
2017-07-31     998.309998
2017-08-31     955.239990
2017-09-30     973.719971
2017-10-31    1033.670044
2017-11-30    1072.010010
2017-12-31    1085.089966
Freq: M, Name: Close, dtype: float64

In [11]:
# Podemos agrupar por multiplos de los periodos mostrados anteriormente, por ejemplo 2 semanas
two_month = google.resample('2M').mean()
print(two_month)

Date
2017-01-31     830.249509
2017-03-31     846.083572
2017-05-31     915.184881
2017-07-31     968.642385
2017-09-30     941.646280
2017-11-30    1022.507916
2018-01-31    1053.917487
Freq: 2M, Name: Close, dtype: float64

Junto al metodo mean y max es posible usar el metodo _min()_ y el metodo _std()_

Ahora, es posible usar una funcion de agregacion para administrar los datos como se muestra a continuacion

In [16]:
# Se ejecuta resampling en periodos de meses usando una funcion lambda
last_day = google.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31     820.190002
2017-02-28     844.929993
2017-03-31     847.799988
2017-04-30     924.520020
2017-05-31     987.090027
2017-06-30     929.679993
2017-07-31     945.500000
2017-08-31     955.239990
2017-09-30     973.719971
2017-10-31    1033.040039
2017-11-30    1036.170044
2017-12-31    1053.400024
Freq: M, Name: Close, dtype: float64

In [12]:
monthly_return = google.resample('M').agg(lambda x:x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.015074
2017-02-28    0.036419
2017-03-31   -0.010446
2017-04-30    0.079101
2017-05-31    0.058178
2017-06-30   -0.059304
2017-07-31    0.028321
2017-08-31    0.009170
2017-09-30    0.022826
2017-10-31    0.067775
2017-11-30   -0.006167
2017-12-31    0.027637
Freq: M, Name: Close, dtype: float64

In [13]:
# De nuevo podemos usar funciones de promedio, desviacion y maximo 
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02238193569572126
0.03767382052951203
0.07910127753866347

Se pueden calcular tambien diferencias entre elementos consecutivos tanto en valor numerico como en terminos porcentuales

In [17]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31          NaN
2017-02-28    24.739990
2017-03-31     2.869995
2017-04-30    76.720032
2017-05-31    62.570007
2017-06-30   -57.410034
2017-07-31    15.820007
2017-08-31     9.739990
2017-09-30    18.479980
2017-10-31    59.320068
2017-11-30     3.130005
2017-12-31    17.229980
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.030164
2017-03-31    0.003397
2017-04-30    0.090493
2017-05-31    0.067678
2017-06-30   -0.058161
2017-07-31    0.017017
2017-08-31    0.010301
2017-09-30    0.019346
2017-10-31    0.060921
2017-11-30    0.003030
2017-12-31    0.016629
Freq: M, Name: Close, dtype: float64

En ocasiones, ocurren situaciones donde no hay un numero, en este caso podemos reemplazarlos por 0.

In [18]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.030164
2017-03-31    0.003397
2017-04-30    0.090493
2017-05-31    0.067678
2017-06-30   -0.058161
2017-07-31    0.017017
2017-08-31    0.010301
2017-09-30    0.019346
2017-10-31    0.060921
2017-11-30    0.003030
2017-12-31    0.016629
Freq: M, Name: Close, dtype: float64

Tambien es posible llenar los NaN con el siguiente valor ajustado. Este proceso se conoce como llenado hacia atras

In [19]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.030164
2017-02-28    0.030164
2017-03-31    0.003397
2017-04-30    0.090493
2017-05-31    0.067678
2017-06-30   -0.058161
2017-07-31    0.017017
2017-08-31    0.010301
2017-09-30    0.019346
2017-10-31    0.060921
2017-11-30    0.003030
2017-12-31    0.016629
Freq: M, Name: Close, dtype: float64

Es posible tambien solo eliminar los NaN

In [21]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.030164
2017-03-31    0.003397
2017-04-30    0.090493
2017-05-31    0.067678
2017-06-30   -0.058161
2017-07-31    0.017017
2017-08-31    0.010301
2017-09-30    0.019346
2017-10-31    0.060921
2017-11-30    0.003030
2017-12-31    0.016629
Freq: M, Name: Close, dtype: float64

### Dataframe

Es la estructura de datos mas utilizada en pandas, en escencia es una tabla. 

Es una coleccion de objetos tipo Serie, de las cuales cada una puede contener diferentes tipos de datos. 

#### Crear un DataFrame

In [1]:
import pandas as pd 

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

#### Manipular un DataFrame

Podemos acceder a los valores a traves de columnas y el indice. Cada columna es una serie, de modo que podemos acceder a ella usando [ ].

In [9]:
df = google_table
# Extraemos lis ultimos valores de los precios de cierre y el volumen de acciones
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    1068.859985
2017-12-26    1065.849976
2017-12-27    1060.199951
2017-12-28    1055.949951
2017-12-29    1053.400024
Name: Close, dtype: float64
Date
2017-12-22     889400
2017-12-26     918800
2017-12-27    1116200
2017-12-28     994200
2017-12-29    1180300
Name: Volume, dtype: int64

In [10]:
# Accedemos a la columna 2016 y aplicamos las funciones lambda con agg
google_2016 = df['2016']
google_month = google_2016.resample('M').agg(lambda x: x[-1])
print(google_month)

                  Open        High         Low       Close   Volume  \
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976  3790400
2016-02-29  721.000000  730.599976  716.840027  717.219971  2253400
2016-03-31  768.340027  769.080017  758.250000  762.900024  1627700
2016-04-30  704.119995  712.109985  703.780029  707.880005  2913900
2016-05-31  748.760010  753.479980  745.570007  748.849976  2124200
2016-06-30  697.650024  703.770020  694.900024  703.530029  2112500
2016-07-31  797.710022  803.940002  790.000000  791.340027  5090500
2016-08-31  789.599976  791.570007  787.200012  789.849976  1071400
2016-09-30  803.599976  808.090027  801.500000  804.059998  1660200
2016-10-31  822.429993  822.630005  808.000000  809.900024  2242700
2016-11-30  789.099976  791.510010  773.150024  775.880005  2279100
2016-12-31  803.210022  803.289978  789.619995  792.450012  1735900

            Dividends  Stock Splits
Date
2016-01-31          0             0
2016-02-29          0             0
2016-03-31          0             0
2016-04-30          0             0
2016-05-31          0             0
2016-06-30          0             0
2016-07-31          0             0
2016-08-31          0             0
2016-09-30          0             0
2016-10-31          0             0
2016-11-30          0             0
2016-12-31          0             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

Podemos acceder a ciertas columnas de un dataframe y organizarlas en un nuevo dataframe

In [11]:
google_bar = google_month[['Open', 'High', 'Low', 'Close']]
print(google_bar)

                  Open        High         Low       Close
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976
2016-02-29  721.000000  730.599976  716.840027  717.219971
2016-03-31  768.340027  769.080017  758.250000  762.900024
2016-04-30  704.119995  712.109985  703.780029  707.880005
2016-05-31  748.760010  753.479980  745.570007  748.849976
2016-06-30  697.650024  703.770020  694.900024  703.530029
2016-07-31  797.710022  803.940002  790.000000  791.340027
2016-08-31  789.599976  791.570007  787.200012  789.849976
2016-09-30  803.599976  808.090027  801.500000  804.059998
2016-10-31  822.429993  822.630005  808.000000  809.900024
2016-11-30  789.099976  791.510010  773.150024  775.880005
2016-12-31  803.210022  803.289978  789.619995  792.450012

Al mismo tiempo es posible crear subconjuntos alrededor de un dataframe usando operadores logicos

In [13]:
import numpy as np

# Buscamos en google bar precios de cierre mayor a la media.
above = google_bar[google_bar.Close > np.mean(google_bar.Close)]
print(above)

                  Open        High         Low       Close
Date
2016-07-31  797.710022  803.940002  790.000000  791.340027
2016-08-31  789.599976  791.570007  787.200012  789.849976
2016-09-30  803.599976  808.090027  801.500000  804.059998
2016-10-31  822.429993  822.630005  808.000000  809.900024
2016-11-30  789.099976  791.510010  773.150024  775.880005
2016-12-31  803.210022  803.289978  789.619995  792.450012

### Validacion de datos

In [15]:
# Anadiendo una nueva columna al dataframe 
# La columna computa el cambio porcentual en los precios de cierre de la accion
google_bar['rate_return'] = google_bar.Close.pct_change()
print(google_bar)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976          NaN
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Si queremos evitar tener problemas con los NaN podemos validar que los datos con los que se hacen los computos, no sean nulos

In [16]:
missing = google_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [17]:
# Podemos verificar rapidamente los datos faltantes
print(missing[missing.rate_return == True])
# E igual que en las series podemos eliminar los NaN, o reemplazarlos
drop = google_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = google_bar.fillna(0)
print(fill)

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
                  Open        High         Low       Close  rate_return
Date
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976     0.000000
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356

### Concatenacion de dataframes

Es posible unificar 2Dataframes entre si o una serie con otra. 

La funcion concat nos permite hacer este proceso.

In [19]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

Si se desea unir a traves de columnas y no de filas, debemos usar el parametro axis == 1

In [20]:
log_price = np.log(google_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([google_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    6.635093
2016-02-29    6.575383
2016-03-31    6.637127
2016-04-30    6.562275
2016-05-31    6.618539
2016-06-30    6.556111
2016-07-31    6.673728
2016-08-31    6.671843
2016-09-30    6.689674
2016-10-31    6.696911
2016-11-30    6.653998
2016-12-31    6.675129
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High         Low       Close  rate_return  \
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976          NaN
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356

            log_price
Date
2016-01-31   6.635093
2016-02-29   6.575383
2016-03-31   6.637127
2016-04-30   6.562275
2016-05-31   6.618539
2016-06-30   6.556111
2016-07-31   6.673728
2016-08-31   6.671843
2016-09-30   6.689674
2016-10-31   6.696911
2016-11-30   6.653998
2016-12-31   6.675129

In [22]:
# Unir dos dataframes a traves de sus filas

df_volume = google_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = google_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

             Volume  Stock Splits
Date
2016-10-31  2242700             0
2016-11-30  2279100             0
2016-12-31  1735900             0
2017-01-31  2020200             0
2017-02-28  1383100             0
2017-03-31  1441000             0
2017-04-30  3845900             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2016-10-31  822.429993  822.630005  808.000000  809.900024
2016-11-30  789.099976  791.510010  773.150024  775.880005
2016-12-31  803.210022  803.289978  789.619995  792.450012
2017-01-31  819.500000  823.070007  813.400024  820.190002
2017-02-28  847.349976  848.830017  841.440002  844.929993
2017-03-31  846.830017  849.559998  845.239990  847.799988
2017-04-30  929.000000  935.900024  923.219971  924.520020

In [23]:
# Haciendo la concatenacion de todos nuestros DF
concat = pd.concat([google_bar, df_volume], axis = 1)
print(concat)

                  Open        High         Low       Close  rate_return  \
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976          NaN
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356
2017-01-31         NaN         NaN         NaN         NaN          NaN
2017-02-28         NaN         NaN         NaN         NaN          NaN
2017-03-31         NaN         NaN         NaN         NaN          NaN
2017-04-30         NaN         NaN         NaN         NaN          NaN

               Volume  Stock Splits
Date
2016-01-31        NaN           NaN
2016-02-29        NaN           NaN
2016-03-31        NaN           NaN
2016-04-30        NaN           NaN
2016-05-31        NaN           NaN
2016-06-30        NaN           NaN
2016-07-31        NaN           NaN
2016-08-31        NaN           NaN
2016-09-30        NaN           NaN
2016-10-31  2242700.0           0.0
2016-11-30  2279100.0           0.0
2016-12-31  1735900.0           0.0
2017-01-31  2020200.0           0.0
2017-02-28  1383100.0           0.0
2017-03-31  1441000.0           0.0
2017-04-30  3845900.0           0.0

Podemos usar la funcion append para anadir un dataframe a otro

In [24]:
append = google_bar.append(df_2017)
print(append)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976          NaN
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356
2016-10-31  822.429993  822.630005  808.000000  809.900024          NaN
2016-11-30  789.099976  791.510010  773.150024  775.880005          NaN
2016-12-31  803.210022  803.289978  789.619995  792.450012          NaN
2017-01-31  819.500000  823.070007  813.400024  820.190002          NaN
2017-02-28  847.349976  848.830017  841.440002  844.929993          NaN
2017-03-31  846.830017  849.559998  845.239990  847.799988          NaN
2017-04-30  929.000000  935.900024  923.219971  924.520020          NaN

Nota: Si dos columnas tienen el mismo nombre sus valores se combinaran. Es importante evitar los casos en donde esto puede causar problemas.

In [25]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([google_bar, df_2017], axis = 0)
print(concat)

                  Open        High         Low       Close  rate_return  \
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976          NaN
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356
2016-10-31         NaN  822.630005  808.000000  809.900024          NaN
2016-11-30         NaN  791.510010  773.150024  775.880005          NaN
2016-12-31         NaN  803.289978  789.619995  792.450012          NaN
2017-01-31         NaN  823.070007  813.400024  820.190002          NaN
2017-02-28         NaN  848.830017  841.440002  844.929993          NaN
2017-03-31         NaN  849.559998  845.239990  847.799988          NaN
2017-04-30         NaN  935.900024  923.219971  924.520020          NaN

                Change
Date
2016-01-31         NaN
2016-02-29         NaN
2016-03-31         NaN
2016-04-30         NaN
2016-05-31         NaN
2016-06-30         NaN
2016-07-31         NaN
2016-08-31         NaN
2016-09-30         NaN
2016-10-31         NaN
2016-11-30         NaN
2016-12-31         NaN
2016-10-31  822.429993
2016-11-30  789.099976
2016-12-31  803.210022
2017-01-31  819.500000
2017-02-28  847.349976
2017-03-31  846.830017
2017-04-30  929.000000